body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Monserrat;
}

div.wholepage{
background-color: white;
width: auto;
}

nav{
    width:100%;
    background-color:#E6FF94;
    
}