body{
    background-color: white;
    font-family: Monserrat;
    margin: 0;
}

div.wholepage{
background-color: white;
width: auto;
}

:root{
    --bar-width: 40px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
}

.burger-menu{
    content
}